#background-content {
  background-color: transparent !important;
}

.list-block {
  ion-list {
    ion-item {
      --background: white;
      --background-activated: white;
      --background-focused: white;
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-border-width: 0 0 0 0;

      ion-avatar {
        margin: 0 20px;
      }

      ion-label {
        padding: 10px 20px 10px 0;
        margin: 0;
        border-bottom: 1px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
      }
    }
  }
}

