<ion-header>
    <ion-toolbar>
        <ion-title>
            Searchbar
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section class="search-block">
        <ion-searchbar [(ngModel)]="searchLine" (ionChange)="searchByName()"></ion-searchbar>
    </section>

    <section class="list-block">
        <ion-list>
            <ion-item *ngFor="let item of filteredProducts; let i = index" [routerLink]="['/product-details/', item.sku]" routerDirection="root">
                <ion-avatar>
                    <img [src]="item?.image" [alt]="item?.name">
                </ion-avatar>
                <ion-label>
                    <h2>{{ item?.name }}</h2>
                    <p>{{ item?.description }}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </section>
</ion-content>
