<ion-header>
  <ion-toolbar>
    <ion-back-button color="secondary" [routerLink]="['/products-list']" routerDirection="root"></ion-back-button>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image-block">
      <img [src]="product.image" [alt]="product.name">
    </div>
    <ion-card-header>
      <ion-card-title>{{ product.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{ product.description }}</ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col col-6><ion-button color="secondary" (click)="setData(1, 100)">$100</ion-button></ion-col>
            <ion-col col-6><ion-button color="secondary" (click)="setData(1, 10)">$10</ion-button></ion-col>
          </ion-row>
          <ion-item>
            <ion-label position="floating">Amount, $</ion-label>
            <ion-input [(ngModel)]="calcData.amount"
                       type="number"
                       (keyup)="calc(1)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col col-6><ion-button color="secondary" (click)="setData(2, 2.2)">2.2 qty</ion-button></ion-col>
            <ion-col col-6><ion-button color="secondary" (click)="setData(2, 9)">9 qty</ion-button></ion-col>
          </ion-row>
          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input [(ngModel)]="calcData.quantity"
                       type="number"
                       (keyup)="calc(2)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

