ion-card, ion-card-header, ion-card-content {
  --background: white;

  ion-card-header ion-card-title {
    color: black;
  }
}

.image-block {
  width: 100%;
  max-height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center -110px;
    height: 100%;
    border-radius: 10px;
  }
}

ion-button {
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: lowercase;

  @media screen and (max-width: 350px) {
    font-size: 14px;
  }
}
